<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>Change Your City</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link rel="stylesheet" type="text/css" href="css/default.css"/>
    </head>
    <body>    
        <form action="" class="register">
            
            <h1>Registro</h1>
            <fieldset class="row1">
                <legend>Detalles de la Cuenta
                </legend>
                <p>
                    <label>Email *
                    </label>
                    <input type="text"/>
                    <label>Repita email *
                    </label>
                    <input type="text"/>
                </p>
                <p>
                    <label>Contraseña*
                    </label>
                    <input type="text"/>
                    <label>Repita Contraseña*
                    </label>
                    <input type="text"/>
                    <label class="obinfo">* Campos obligatorios
                    </label>
                </p>
            </fieldset>
            <fieldset class="row2">
                <legend>Datos Personales
                </legend>
                <p>
                    <label>Nombre *
                    </label>
                    <input type="text" class="long"/>
                </p>
                <p>
                    <label>Apellido1 *
                    </label>
                    <input type="text" class="long"/>
                </p>
                <p>
                    <label>Apellido2 *
                    </label>
                    <input type="text" class="long"/>
                </p>
                <p>
                    <label>Dirección *
                    </label>
                    <input type="text" class="long"/>
                </p>
                <p>
                    <label class="optional" >Teléfono
                    </label>
                    <input type="text" class="long" maxlength="10"/>
                </p>
                <p>
                    <label>Municipio *
                    </label>
                    <input type="text" class="long"/>
                </p>
                <p>
                    <label>DNI *
                    </label>
                    <input type="text" class="long" maxlength="9"/>
                </p>
              
               
            </fieldset>
            <fieldset class="row3">
                <legend>Más información
                </legend>
                <p>
                    <label>Sexo *</label>
                    <input type="radio" value="radio"/>
                    <label class="gender">Varón</label>
                    <input type="radio" value="radio"/>
                    <label class="gender">Hembra</label>
                </p>
                <p>
                    <label>Cumpleaños *
                    </label>
                    <select class="date">
                        <option value="1">01
                        </option>
                        <option value="2">02
                        </option>
                        <option value="3">03
                        </option>
                        <option value="4">04
                        </option>
                        <option value="5">05
                        </option>
                        <option value="6">06
                        </option>
                        <option value="7">07
                        </option>
                        <option value="8">08
                        </option>
                        <option value="9">09
                        </option>
                        <option value="10">10
                        </option>
                        <option value="11">11
                        </option>
                        <option value="12">12
                        </option>
                        <option value="13">13
                        </option>
                        <option value="14">14
                        </option>
                        <option value="15">15
                        </option>
                        <option value="16">16
                        </option>
                        <option value="17">17
                        </option>
                        <option value="18">18
                        </option>
                        <option value="19">19
                        </option>
                        <option value="20">20
                        </option>
                        <option value="21">21
                        </option>
                        <option value="22">22
                        </option>
                        <option value="23">23
                        </option>
                        <option value="24">24
                        </option>
                        <option value="25">25
                        </option>
                        <option value="26">26
                        </option>
                        <option value="27">27
                        </option>
                        <option value="28">28
                        </option>
                        <option value="29">29
                        </option>
                        <option value="30">30
                        </option>
                        <option value="31">31
                        </option>
                    </select>
                    <select>
                        <option value="1">Enero
                        </option>
                        <option value="2">Febrero
                        </option>
                        <option value="3">Marzo
                        </option>
                        <option value="4">Abril
                        </option>
                        <option value="5">Mayo
                        </option>
                        <option value="6">Junio
                        </option>
                        <option value="7">Julio
                        </option>
                        <option value="8">Agosto
                        </option>
                        <option value="9">Septiembre
                        </option>
                        <option value="10">Octubre
                        </option>
                        <option value="11">Noviembre
                        </option>
                        <option value="12">Diciembre
                        </option>
                    </select>
                    <input class="year" type="text" size="4" maxlength="4"/>e.j 1976
                </p>
                <p>
                    <label>Nacionalidad *
                    </label>
                    <select>
                        <option value="0">
                        </option>
                        <option value="1">Español
                        </option>
                        <option value="2">Camerunés
                        </option>
                        <option value="3">Ruso
                        </option>
                        <option value="4">Mongolo
                        </option>
                        <option value="5">Chino
                        </option>
                    </select>
                </p>
               <!-- <p>
                    <label>Children *
                    </label>
                    <input type="checkbox" value="" />

                </p>-->
                <!-- SI necesitais una caja de información os la ponemos
                No os preocupais chicos del Back-End ;) -->

                <!--<div class="infobox"><h4>Helpful Information</h4>
                    <p>Here comes some explaining text, sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                </div>-->

            </fieldset>
            <fieldset class="row4">
                <legend>Términos y envíos
                </legend>
                <p class="agreement">
                    <input type="checkbox" value=""/>
                    <!-- Se linkeara al archivo de terminos y condiciones de la aplicación-->
                    <label>*  Acepto los <a href="#">Términos y Condiciones</a></label>
                </p>
                <p class="agreement">
                    <input type="checkbox" value=""/>
                    <label>Quiero recibir información sobre las propuestas cercanas a mi</label>
                </p>
                <!-- Si queremos poner algun checkBox más pues sin problemas COMPADRES-->
                <!--<p class="agreement">
                    <input type="checkbox" value=""/>
                    <label></label>
                </p>-->
            </fieldset>

            <div><button class="button">Registrar &raquo;</button></div>
           
            <!-- <div>
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                         <button class="button">Registrar  -->
                                        <!--&raquo;-->
                     <!--     </button>
                    </div>
                </div>

                <div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn">
								Acceder
							</button>
						</div>
					</div> -->
            
        </form>
    </body>
</html>





