<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="codepixer">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Change Your City</title>

	<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
	<!--
			CSS
			============================================= -->
	<link rel="stylesheet" href="css/linearicons.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/magnific-popup.css">
	<link rel="stylesheet" href="css/nice-select.css">
	<link rel="stylesheet" href="css/hexagons.min.css">
	<link rel="stylesheet" href="css/animate.min.css">
	<link rel="stylesheet" href="css/owl.carousel.css">
	<link rel="stylesheet" href="css/main.css">
</head>

<body>
	<header id="header" id="home">
		<div class="container main-menu">
			<div class="row align-items-center justify-content-between d-flex">
				<div id="logo">
					<!-- <a href="index.html"><img src="img/logo.png" alt="" title="" /></a>-->
					<a href="index.html"><img src="img/Logo1.png" alt="" title="" /></a>
				</div>
				<nav id="nav-menu-container">
					<!-- text-shadow: -1px -1px 1px #333, 1px -1px 1px #333, -1px 1px 1px #333, 1px 1px 1px #333; -->
					<ul class="nav-menu">
						<li class="menu-active"><a href="index.html">Home</a></li>
						<li><a href="about.html">Sobre nosotros</a></li>
						<li><a href="project.html">Proyectos</a></li>
						<li><a href="desperfecto.html">Desperfectos</a></li>
						<li><a href="contact.html">Contacto</a></li>
						<li><a href="contact.html">Conectar</a></li>
					</ul>
				</nav>
				<!-- #nav-menu-container -->
			</div>
		</div>
	</header>
	<!-- #header -->

	<!-- start banner Area -->
	<section class="banner-area" id="home">
		<div class="container">
			<div class="row fullscreen d-flex align-items-center justify-content-center">
				<div class="banner-content col-lg-6 col-md-6">
					<h1 style="text-shadow: -1px -1px 1px #333, 1px -1px 1px #333, -1px 1px 1px #333, 1px 1px 1px #333;">
								Mejora <br>
								Tu ciudad <br>
								Con Nosotros
							</h1>
					<p class="text-white text-uppercase" style="text-shadow: -1px -1px 1px #333, 1px -1px 1px #333, -1px 1px 1px #333, 1px 1px 1px #333;">
						Todos queremos una ciudad mejor
					</p>
					<a href="#" class="primary-btn header-btn ">Conectar</a>
				</div>
				<div class="banner-img	 col-lg-6 col-md-6">
					<!--<img class="img-fluid" src="img/banner-img.png" alt="">-->
				</div>
			</div>
		</div>
	</section>
	<!-- End banner Area -->

	<!-- Start Desperfectus Area -->
	<section class="products-area section-gap">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="col-md-12 pb-40 header-text text-center">
					<h1 class="pb-10">Últimos Desperfectos</h1>
					<p>
						Échale un vistazo a los desperfectos de tus alrededores.
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="single-product">
						<div class="thumb">
							<!-- <img src="img/p1.png" alt=""> -->
							<img class="details-image" src="img/desp/farola1.jpg" alt="">
						</div>
						<div class="details">
							<h4>Farola Rota</h4>
							<p>
								Luminaria destruida.
							</p>
							<p>
								<b>Vélez-Málaga</b>
							</p>
							<a href="#" class="primary-btn text-uppercase">Ver Propuesta</a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="single-product">
						<div class="thumb">
							<!-- <img src="img/p2.png" alt=""> -->
							<img class="details-image" src="img/desp/Alcantarilla_peligrosa.jpeg" alt="">
						</div>
						<div class="details">
							<h4>Alcantarilla rota</h4>
							<p>
								Alcantarilla peligrosa, carretera.
							</p>
							<p>
								<b>El Palo</b>
							</p>
							<a href="#" class="primary-btn text-uppercase">Ver Propuesta</a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="single-product">
						<div class="thumb">
							<!-- <img src="img/p3.png" alt=""> -->

							<img class="details-image" src="img/desp/ArbolCalle.jpeg" alt="">
						</div>
						<div class="details">
							<h4>Árbol caído</h4>
							<p>
								Árbol en mitad de carretera.
							</p>
							<p>
								<b>Alhaurín de la Torre</b>
							</p>
							<a href="#" class="primary-btn text-uppercase">Ver Propuesta</a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="single-product">
						<div class="thumb">

							<img class="details-image" src="img/desp/banco.jpeg" alt="">
						</div>
						<div class="details">
							<h4>Banco roto</h4>
							<p>
								Banco roto sin una pata.
							</p>
							<p>
								<b>Antequera</b>
							</p>
							<a href="#" class="primary-btn text-uppercase">Ver Propuesta</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End products Area -->

	<!-- Start offered-service Area -->
	<section class="offered-service-area section-gap">
			<div class="container">
				<div class="row d-flex justify-content-center">
					<div class="col-md-12 pb-40 header-text text-center">
						 <h1 class="pb-10">Últimos proyectos</h1>
						<p>
							Echale un vistazo a los proyectos más interesantes.
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4">
						<div class="single-offered-service">
							<img class="img-fluidv2" src="img/Proyecto/proyectoPiscina.jpeg" alt="">
							<a href="#">
								<h4>Piscina Municipal</h4>
								<h5>Torre del Mar</h5>
							</a>
							<p>
							Piscina en Torre del Mar para todos sus ciudadanos, para mejorar salud y ocio de todos ellos.
							</p>

						</div>
					</div>
					<div class="col-lg-4">
						<div class="single-offered-service">
							<img class="img-fluidv2" src="img/Proyecto/proyectoSkate.jpeg" alt="">
							<a href="#">
								<h4>Skate Park</h4>
								<h5>Antequera</h5>
							</a>
							<p>
								Creación de una zona de entreno para mejorar las opciones de deporte y ocio de todos los ciudadanos, además de cubrir necesid latente.
							</p>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="single-offered-service">
							<img class="img-fluidv2" src="img/Proyecto/proyectoParque.jpg" alt="">
							<a href="#">
									<h4>Parque infantil</h4>
									<h5>Los Romanes</h5>
								</a>
								<p>
									Creación de una zona de ocio y diversión para los más pequeños de los alrededores en busca de mejorar la infancia de estos.
								</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- END service-area-->


	<!-- Start about-video Area -->
	<section class="about-video-area section-gap">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6 about-video-left">
					<h6 class="text-uppercase">Aplicación Change Your City</h6>
					<h1>
								Tenemos una Ciudad <br>
								Que cuidar y que cambiar
							</h1>
					<p>
						<span>Atrévete a mejorar tus alrededores</span>
					</p>
					<p>
						Nunca te ha pasado que has querido cambiar cualquier parte de tu ciudad y el ayuntamiento no te hizo caso, ¡CAMBIÉMOSLO!
					</p>
					<a class="primary-btn" href="about.html">Sobre Nosotros</a>
				</div>
				<div class="col-lg-6 about-video-right justify-content-center align-items-center d-flex relative">
					<div class="overlay overlay-bg"></div>
					<a class="play-btn" href="https://www.youtube.com/watch?v=ARA0AxrnHdM"><img class="img-fluid mx-auto" src="img/play-btn.png" alt=""></a>
				</div>
			</div>
		</div>
	</section>
	<!-- End about-video Area -->


	<!-- Start feature Area -->
	<section class="feature-area section-gap">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="col-md-12 pb-40 header-text text-center">
					<h1 class="pb-10 text-white">Algunas características que nos hacen únicos</h1>
					<p class="text-white">
						Confía en nosotros.
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="single-feature">
						<a href="#" class="title d-flex flex-row">
									<span class="lnr lnr-user"></span>
									<h4>Técnicos expertos</h4>
								</a>
						<p>
							Todo el equipo de Change Your City está compuesto por Estudiantes de Ingeniería de Software.
						</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-feature">
						<a href="#" class="title d-flex flex-row">
									<span class="lnr lnr-license"></span>
									<h4>Servicio profesional</h4>
								</a>
						<p>
							Guiados por el código de la práctica ética y profesional de Ingeniería de Software.
						</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-feature">
						<a href="#" class="title d-flex flex-row">
									<span class="lnr lnr-phone"></span>
									<h4>Gran nivel en support</h4>
								</a>
						<p>
							Al ser expertos en tecnología, el apoyo al usuario nos preocupa mucho y aténdemos a las dudas de ellos.
						</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-feature">
						<a href="#" class="title d-flex flex-row">
									<span class="lnr lnr-rocket"></span>
									<h4>Hábilidades técnicas</h4>
								</a>
						<p>
							El mismo equipo está dividido según las habilidades de cada uno en subgrupos de Back-End y Front-End.
						</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-feature">
						<a href="#" class="title d-flex flex-row">
									<span class="lnr lnr-diamond"></span>
									<h4>Muy recomendable.</h4>
								</a>
						<p>
							Gran apoyo por instituciones nacionales, listas importantes sobre aplicaciones sociales.
						</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-feature">
						<a href="#" class="title d-flex flex-row">
									<span class="lnr lnr-bubble"></span>
									<h4>Reviews Positivas</h4>
								</a>
						<p>
							Una gran número de comentarios positivos por parte de nuestro usuarios comprobable link al final.
						</p>
					</div>
				</div>

			</div>
		</div>
	</section>
	<!-- End feature Area -->


	<!-- Start brand Area -->
	<section class="brand-area pt-120">
		<div class="container">
			<div class="row align-items-center">
				<div class="col single-brand">
					<img class="img-fluid" src="img/Logos/logo_JANDA.png" alt="">
				</div>
				<div class="col single-brand">
					<img class="img-fluid" src="img/Logos/LogoUMA.jpg" alt="">
				</div>
				<div class="col single-brand">
					<img class="img-fluid" src="img/Logos/Logo_ETSII.jpg" alt="">
				</div>
				<div class="col single-brand">
					<img class="img-fluid" src="img/Logos/Logo_Link_Uma.png" alt="">
				</div>
				<div class="col single-brand">
					<img class="img-fluid" src="img/Logos/Logo_AYTO.png" alt="">
				</div>
			</div>
		</div>
	</section>
	<!-- End brand Area -->


	
<br><br><br>
<!-- start footer Area -->
<footer class="footer-area section-gap">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-12">
				<div class="single-footer-widget">
					<h6>Información adicional</h6>
					<ul class="footer-nav">
						<li><a href="#">Segmentant default page</a></li>
						<li><a href="#">Comentarios de los usuarios</a></li>
						<li><a href="#">Lista apps sociales del 2018</a></li>
						<li><a href="#">Artículo sobre los beneficios de su uso</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-6  col-md-12">

			</div>
			<div class="col-lg-3  col-md-12">
				<div class="single-footer-widget mail-chimp">
					<h6 class="mb-20">Instragram Feed</h6>
					<ul class="instafeed d-flex flex-wrap">
						<li><img src="img/i1.jpg" alt=""></li>
						<li><img src="img/i2.jpg" alt=""></li>
						<li><img src="img/i3.jpg" alt=""></li>
						<li><img src="img/i4.jpg" alt=""></li>
						<li><img src="img/i5.jpg" alt=""></li>
						<li><img src="img/i6.jpg" alt=""></li>
						<li><img src="img/i7.jpg" alt=""></li>
						<li><img src="img/i8.jpg" alt=""></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="row footer-bottom d-flex justify-content-between">
			<p class="col-lg-8 col-sm-12 footer-text m-0 text-white">
				Copyright &copy;
				<script>
					document.write(new Date().getFullYear());
				</script> Todos los derechos reservados</a>
			</p>
			<div class="col-lg-4 col-sm-12 footer-social">
				<a href="#"><i class="fa fa-facebook"></i></a>
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-dribbble"></i></a>
				<a href="#"><i class="fa fa-behance"></i></a>
			</div>
		</div>
	</div>
</footer>
<!-- end footer Area -->

	<script src="js/vendor/jquery-2.2.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="js/vendor/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
	<script src="js/easing.min.js"></script>
	<script src="js/hoverIntent.js"></script>
	<script src="js/superfish.min.js"></script>
	<script src="js/jquery.ajaxchimp.min.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/hexagons.min.js"></script>
	<script src="js/jquery.nice-select.min.js"></script>
	<script src="js/jquery.counterup.min.js"></script>
	<script src="js/waypoints.min.js"></script>
	<script src="js/mail-script.js"></script>
	<script src="js/main.js"></script>
</body>

</html>
