doctype html
html(lang='es')
  head
    title Change Your City
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='icon', type='image/png', href='/images/icons/favicon.ico')
    link(rel='stylesheet', type='text/css', href='/vendor/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/fonts/font-awesome-4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='/fonts/iconic/css/material-design-iconic-font.min.css')
    link(rel='stylesheet', type='text/css', href='/vendor/animate/animate.css')
    link(rel='stylesheet', type='text/css', href='/vendor/css-hamburgers/hamburgers.min.css')
    link(rel='stylesheet', type='text/css', href='/vendor/animsition/css/animsition.min.css')
    link(rel='stylesheet', type='text/css', href='/vendor/select2/select2.min.css')
    link(rel='stylesheet', type='text/css', href='/vendor/daterangepicker/daterangepicker.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/login_2.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/login.css')
  body
    .limiter
      .container-login100
        .wrap-login100
          form.login100-form.validate-form(action='http://localhost:3000/auth/signin', method='POST')
            span.login100-form-title.p-b-26
              | Change Your City
            span.login100-form-title.p-b-48
              i.zmdi.zmdi-city
            .wrap-input100.validate-input(data-validate='Valid email is: a@b.c')
              input.input100(type='email', name='username')
              span.focus-input100(data-placeholder='Email')
            .wrap-input100.validate-input(data-validate='Enter password')
              span.btn-show-pass
                i.zmdi.zmdi-eye
              input.input100(type='password', name='password')
              span.focus-input100(data-placeholder='Contraseña')
            .container-login100-form-btn
              .wrap-login100-form-btn
                .login100-form-bgbtn
                button.login100-form-btn(type='submit')
                  | Acceder
            .text-center.p-t-115
              span.txt1
                | ¿No tienes cuenta?
              a.txt2(href='http://localhost:3000/auth/signup')
                | Registrate
    #dropDownSelect1
    
    script(src='/vendor/jquery/jquery-3.2.1.min.js')
    script(src='/vendor/animsition/js/animsition.min.js')
    script(src='/vendor/bootstrap/js/popper.js')
    script(src='/vendor/bootstrap/js/bootstrap.min.js')
    script(src='/vendor/select2/select2.min.js')
    script(src='/vendor/daterangepicker/moment.min.js')
    script(src='/vendor/daterangepicker/daterangepicker.js')
    script(src='/vendor/countdowntime/countdowntime.js')
    script(src='/javascripts/main.js')
